.app {
  color: white;
  font-family: Source Code Pro; }

.MuiTypography-root {
  font-family: Source Code Pro !important; }

ul {
  list-style: none; }

.landing {
  height: 100vh;
  padding: 16px;
  background: black;
  max-width: 100%; }

.landing-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter; }
  .landing-text h1 {
    margin: none; }
  .landing-text h4 {
    font-size: small; }

.header {
  max-width: 100%; }

.skills-section {
  height: 100vh;
  max-width: 100%; }
  .skills-section h1 {
    color: black;
    text-align: center; }
  .skills-section div {
    justify-content: center;
    margin: auto; }
    .skills-section div .MuiGrid-root {
      background: '#f5f5f5';
      border-radius: '8px';
      box-shadow: '0 2px 4px rgba(0, 0, 0, 0.1)';
      padding: '16px'; }
    .skills-section div .MuiCardContent-root {
      background: rgba(64, 64, 64, 0.5); }
    .skills-section div .MuiTypography-root {
      font-family: Source Code Pro !important;
      color: white; }

.project-section {
  height: 100vh; }
  .project-section h1 {
    color: black;
    text-align: center; }
  .project-section div {
    justify-content: center;
    margin: auto; }
    .project-section div .MuiCardContent-root {
      background: rgba(64, 64, 64, 0.5); }
    .project-section div .MuiTypography-root {
      font-family: Source Code Pro !important;
      color: white;
      text-align: center; }

.work-experience, .contact-section {
  color: black;
  height: 100vh;
  text-align: center; }

.work-experience {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .work-experience .accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; }
    .work-experience .accordion .MuiAccordion-root {
      width: 50vw; }
    .work-experience .accordion .MuiAccordionSummary-content {
      flex: 1 1 200px;
      min-width: 200px; }

@media screen and (min-width: 1200px) {
  ul {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: center;
    font-size: large; } }
