$main-font: Source Code Pro;
$color-dark: rgba(14, 17, 17, 1);
$color-lighter: rgba(53, 55, 57, 1);
$overlay-dark: rgba(14, 17, 17, 0.2);
$overlay-lighter: rgba(53, 55, 57, 0.4);
$text-color: #00ff29;
$main-font: Source Code Pro;
$secondary-font: Poppins;

body {
  padding: 16px;
  background-color: $color-dark;
  color: white;
  overflow-x: hidden;
  font-family: $main-font;

  h1 {
    text-align: center;
  }

  .MuiTypography-root {
    font-family: $main-font;
  }
}

.app {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 25vh;

  .header {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 1000;
    color: $text-color;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .landing {
    background-color: $overlay-lighter;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
      color: $text-color;
    }
  }

  .skills-section {
    .MuiPaper-root {
      background-color: $overlay-lighter;
      color: white !important;
      border-radius: 8px solid;
      border-color: white;
    }
    .summary-blurb {
      p {
        margin-left: 5%;
      }
    }
    #skills-container {
      :nth-child(1) {
        color: $text-color;
      }
      :nth-child(2) {
        color: white;
      }
    }
  }

  .project-section {
    padding: 16px;
    .MuiGrid-container {
      justify-content: center;

      .arrows {
        display: flex;
        gap: 48px;
        justify-content: space-evenly;
        font-size: 24px;
        svg {
          cursor: pointer;
        }
      }
    }
    .MuiPaper-root {
      background-color: $overlay-lighter;
      color: white;
      border: 2px solid;
      border-color: $text-color;
    }
    .MuiCardContent-root {
      text-align: center;
    }
  }

  .work-experience {
    .accordion-container {
      padding: 16px;
      margin: 0 auto;
      max-width: 50vw;

      svg {
        color: $text-color;
      }

      .MuiPaper-root {
        color: white;
        background-color: $overlay-lighter;
      }

      .work-icons {
        display: flex;
        gap: 24px;
        margin-left: auto;
        margin-right: 5%;
        svg {
          font-size: 24px;
        }
      }
    }
  }

  .contact-section {
    background-color: $overlay-lighter;
    font-family: $secondary-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .links {
      display: flex;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 600px) {
  .MuiModal-root {
    overflow: auto;
  }

  .modal-content {
    width: 60% !important;
  }

  .landing {
    padding: 16px;
  }

  .contact-section {
    text-align: center;
    .links {
      flex-direction: column;
    }
    p {
      font-size: small;
    }
  }

  .project-section {
    justify-content: center;
    padding: 16px;

    .MuiGrid-container {
      justify-content: center;

      .project-card {
        margin-right: 10vw;
      }

      .arrows {
        display: flex;
        gap: 48px;
        justify-content: space-between;

        svg {
          cursor: pointer;
        }
      }
    }
  }

  .work-experience {
    .work-icons {
      display: flex;
      gap: 10px !important;
      svg {
        font-size: 16px !important;
      }
    }
  }
}

@media screen and (min-width: 601px) {
  .project-section {
    .MuiGrid-container {
      .project-card {
        margin-right: 10vw !important;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .project-section {
    .MuiGrid-container {
      .project-card {
        margin-left: 13vw !important;
      }
    }
  }
}


@media screen and (max-width: 899px) {
  .project-section {
    .MuiGrid-container {
      .project-card {
        margin-left: 10vw;
      }
      .arrows {
        gap: 96px !important;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .header {
    display: flex;
    gap: 10px;
    background-color: $overlay-lighter;
    padding: 16px;
    margin-right: 5%;
    .active {
      text-align: center;
    }
  }
  .landing {
    h1 {
      font-size: 6em;
    }
    h4 {
      font-size: 1em;
    }
  }
  .skills-section,
  .project-section,
  .work-experience {
    h1 {
      text-align: center;
    }
  }
  .project-section {
    text-align: center;

    .MuiGrid-container {
      justify-content: center;
      align-items: center;

      .project-card {
        margin-left: 15vw !important;
      }
    }

    .arrows {
      display: flex;
      gap: 25vw !important;
    }
  }
}

@media screen and (min-width: 1000px) {
  .project-section {
    text-align: center;

    .MuiGrid-container {
      justify-content: center;
      align-items: center;

      .project-card {
        margin-left: 20vw !important;
      }
    }

    .arrows {
      display: flex;
      gap: 25vw !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  .skills-section {
    padding: 32px;
  }
}

@media screen and (min-width: 1200px) {
  #skills-container {
    justify-content: center;
  }
  .project-section {
    text-align: center;

    .MuiGrid-container {
      justify-content: center;
      align-items: center;

      .project-card {
        margin-left: 23vw !important;
      }
    }

    .arrows {
      display: flex;
      gap: 25vw !important;
    }
  }
}

@media screen and (min-width: 1230px) {
  #skills-container {
    justify-content: center;
  }
  .project-section {
    text-align: center;

    .MuiGrid-container {
      justify-content: center;
      align-items: center;

      .project-card {
        margin-left: 24vw !important;
      }
    }

    .arrows {
      display: flex;
      gap: 25vw !important;
    }
  }
}

@media screen and (min-width: 1300px) {
  .project-section {
    text-align: center;

    .MuiGrid-container {
      justify-content: center;
      align-items: center;

      .project-card {
        margin-left: 26vw !important;
      }
    }

    .arrows {
      display: flex;
      gap: 25vw !important;
    }
  }
}


@media screen and (min-width: 1400px) {
  .project-section {
    .MuiGrid-container {
      justify-content: center;
      align-items: center;

      .project-card {
        margin-left: 27vw !important;
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .project-section {
    .MuiGrid-container {
      justify-content: center;
      align-items: center;

      .project-card {
        margin-left: 28vw !important;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .project-section {
    .MuiGrid-container {
      justify-content: center;
      align-items: center;

      .project-card {
        margin-left: 30vw !important;
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .project-section {
    .MuiGrid-container {
      justify-content: center;
      align-items: center;

      .project-card {
        margin-left: 31.5vw !important;
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .project-section {
    .MuiGrid-container {
      justify-content: center;
      align-items: center;

      .project-card {
        margin-left: 32.5vw !important;
      }
    }
  }
}

@media screen and (min-width: 1900px) {
  .project-section {
    .MuiGrid-container {
      justify-content: center;
      align-items: center;

      .project-card {
        margin-left: 34vw !important;
      }
    }
  }
}


