body {
  padding: 16px;
  background-color: rgb(14, 17, 17);
  color: white;
  overflow-x: hidden;
  font-family: Source Code Pro;
}
body .modal-content {
  width: 75vw !important;
}
body h1 {
  text-align: center;
}
body .MuiTypography-root {
  font-family: Source Code Pro;
}

.app {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 25vh;
}
.app .header {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  z-index: 1000;
  color: #00ff29;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.app .landing {
  background-color: rgba(53, 55, 57, 0.4);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app .landing h4 {
  color: #00ff29;
}
.app .skills-section {
  padding: 48px;
}
.app .skills-section .MuiPaper-root {
  background-color: rgba(53, 55, 57, 0.4);
  color: white !important;
  border-radius: 8px solid;
  border-color: white;
}
.app .skills-section .summary-blurb p {
  margin-left: 5%;
}
.app .skills-section #skills-container :nth-child(1) {
  color: #00ff29;
}
.app .skills-section #skills-container :nth-child(2) {
  color: white;
}
.app .project-section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.app .project-section .section-title .MuiTypography-root {
  font-size: 3em;
  padding: 16px;
}
.app .project-section .MuiBox-root p {
  cursor: pointer;
}
.app .work-experience .accordion-container {
  padding: 16px;
  margin: 0 auto;
  max-width: 50vw;
}
.app .work-experience .accordion-container svg {
  color: #00ff29;
}
.app .work-experience .accordion-container .MuiPaper-root {
  color: white;
  background-color: rgba(53, 55, 57, 0.4);
}
.app .work-experience .accordion-container .work-icons {
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: 5%;
}
.app .work-experience .accordion-container .work-icons svg {
  font-size: 24px;
}
.app .contact-section {
  background-color: rgba(53, 55, 57, 0.4);
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app .contact-section .links {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .MuiModal-root {
    overflow: auto;
  }
  .modal-content {
    width: 60% !important;
  }
  .landing {
    padding: 16px;
  }
  .contact-section {
    text-align: center;
  }
  .contact-section .links {
    flex-direction: column;
  }
  .contact-section p {
    font-size: small;
  }
  .project-section {
    justify-content: center;
    padding: 16px;
  }
  .project-section .MuiGrid-container {
    justify-content: center;
  }
  .project-section .MuiGrid-container .project-card {
    margin-right: 10vw;
  }
  .project-section .MuiGrid-container .arrows {
    display: flex;
    gap: 48px;
    justify-content: space-between;
  }
  .project-section .MuiGrid-container .arrows svg {
    cursor: pointer;
  }
  .work-experience .work-icons {
    display: flex;
    gap: 10px !important;
  }
  .work-experience .work-icons svg {
    font-size: 16px !important;
  }
}
@media screen and (min-width: 601px) {
  .project-section .MuiGrid-container .project-card {
    margin-right: 10vw !important;
  }
}
@media screen and (min-width: 800px) {
  .project-section .MuiGrid-container .project-card {
    margin-left: 13vw !important;
  }
}
@media screen and (max-width: 899px) {
  .project-section .MuiGrid-container .project-card {
    margin-left: 10vw;
  }
  .project-section .MuiGrid-container .arrows {
    gap: 96px !important;
  }
}
@media screen and (min-width: 900px) {
  .header {
    display: flex;
    gap: 10px;
    background-color: rgba(53, 55, 57, 0.4);
    padding: 16px;
    margin-right: 5%;
  }
  .header .active {
    text-align: center;
  }
  .landing h1 {
    font-size: 6em;
  }
  .landing h4 {
    font-size: 1em;
  }
  .skills-section h1,
  .project-section h1,
  .work-experience h1 {
    text-align: center;
  }
  .project-section {
    text-align: center;
  }
  .project-section .MuiGrid-container {
    justify-content: center;
    align-items: center;
  }
  .project-section .MuiGrid-container .project-card {
    margin-left: 15vw !important;
  }
  .project-section .arrows {
    display: flex;
    gap: 25vw !important;
  }
}
@media screen and (min-width: 1000px) {
  .project-section {
    text-align: center;
  }
  .project-section .MuiGrid-container {
    justify-content: center;
    align-items: center;
  }
  .project-section .MuiGrid-container .project-card {
    margin-left: 20vw !important;
  }
  .project-section .arrows {
    display: flex;
    gap: 25vw !important;
  }
}
@media screen and (max-width: 1200px) {
  .skills-section {
    padding: 32px;
  }
}
@media screen and (min-width: 1200px) {
  #skills-container {
    justify-content: center;
    margin-top: 24px;
  }
  .project-section {
    text-align: center;
  }
  .project-section .MuiGrid-container {
    justify-content: center;
    align-items: center;
  }
  .project-section .MuiGrid-container .project-card {
    margin-left: 23vw !important;
  }
  .project-section .arrows {
    display: flex;
    gap: 25vw !important;
  }
}
@media screen and (min-width: 1230px) {
  #skills-container {
    justify-content: center;
  }
  .project-section {
    text-align: center;
  }
  .project-section .MuiGrid-container {
    justify-content: center;
    align-items: center;
  }
  .project-section .MuiGrid-container .project-card {
    margin-left: 24vw !important;
  }
  .project-section .arrows {
    display: flex;
    gap: 25vw !important;
  }
}
@media screen and (min-width: 1300px) {
  .project-section {
    text-align: center;
  }
  .project-section .MuiGrid-container {
    justify-content: center;
    align-items: center;
  }
  .project-section .MuiGrid-container .project-card {
    margin-left: 26vw !important;
  }
  .project-section .arrows {
    display: flex;
    gap: 25vw !important;
  }
}
@media screen and (min-width: 1400px) {
  .project-section .MuiGrid-container {
    justify-content: center;
    align-items: center;
  }
  .project-section .MuiGrid-container .project-card {
    margin-left: 27vw !important;
  }
}
@media screen and (min-width: 1500px) {
  .project-section .MuiGrid-container {
    justify-content: center;
    align-items: center;
  }
  .project-section .MuiGrid-container .project-card {
    margin-left: 28vw !important;
  }
}
@media screen and (min-width: 1600px) {
  .project-section .MuiGrid-container {
    justify-content: center;
    align-items: center;
  }
  .project-section .MuiGrid-container .project-card {
    margin-left: 30vw !important;
  }
}
@media screen and (min-width: 1700px) {
  .project-section .MuiGrid-container {
    justify-content: center;
    align-items: center;
  }
  .project-section .MuiGrid-container .project-card {
    margin-left: 31.5vw !important;
  }
}
@media screen and (min-width: 1800px) {
  .project-section .MuiGrid-container {
    justify-content: center;
    align-items: center;
  }
  .project-section .MuiGrid-container .project-card {
    margin-left: 32.5vw !important;
  }
}
@media screen and (min-width: 1900px) {
  .project-section .MuiGrid-container {
    justify-content: center;
    align-items: center;
  }
  .project-section .MuiGrid-container .project-card {
    margin-left: 34vw !important;
  }
  .skills-section {
    padding: 0 500px !important;
  }
}/*# sourceMappingURL=main.css.map */